<div class="w-100 cf">
    <div class="fl w-70 pr3">
        <div class="pb3">
            <h2></h2>
            <h2>{{badge.name}}</h2>
        </div>
        <div class="mb3">
            <div>
                <h3>Issued to</h3>
                <table class="w-100">
                    <tbody>
                        {{#each recipient}}
                        <tr>
                            <td class="w-20" style="vertical-align: top;">{{this.type}}</td>
                            <td style="word-break: break-all;">{{this.identity}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div>
                <h3>Issued by</h3>
                <table class="w-100">
                    <tbody>
                        <tr>
                            <td class="w-20" style="vertical-align: top;">url</td>
                            <td style="word-break: break-all;">{{badge.issuer.url2}}</td>
                        </tr>
                        <tr>
                            <td class="w-20" style="vertical-align: top;">email</td>
                            <td style="word-break: break-all;">{{badge.issuer.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h3>Issued at</h3>
                <div>{{issuedOn}}</div>
            </div>
        </div>
    </div>
</div>
<div>
    <h3>Transcript</h3>
</div>
<div>
    <table class="fl tl w-100" cellspacing="0">
        <thead>
            <tr>
                <th style="width: 14%;">Course</th>
                <th class="w-70"></th>
                <th class="w-10">Grade</th>
                <th class="w-10">Credit</th>
            </tr>
        </thead>
        <tbody>
            {{#each badge.evidence.transcript}}
            <tr>
                <td>{{this.courseCode}}</td>
                <td>{{this.name}}</td>
                <td>{{this.grade}}</td>
                <td>{{this.courseCredit}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="cb"></div>
</div>
<h3>Details</h3>
<p>
    {{badge.criteria}}
</p>